:root{
    --primary-color:#1797ff;
    --grey-color:#d6d6d6;
    --black-light-color:#979797;
    --dark-color:#2e2e2e;
    --black-color:#606060;
    --text-color:#6b6b6b:
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
    background-color: #fcfcfc;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:var(--black-color);
}
/* GLOBAL CLASS */

.wrapper{
    max-width: 90rem;
}

.content-padding{
   /*  padding:  0 9.375rem; */
   padding:  0 2rem; 
}

.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.logo{
    width: 13rem;
    height: 1.75rem;
}


/* GLOBAL ANIMATION */
.disappear{
    transform: translateY(2px);
    animation:disappear .8s cubic-bezier(.98,-0.62,.99,0) both;
}

@keyframes disappear {
    to{
        transform: translateY(-70px);
        opacity:0;
    }
}

